<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <clear />
    <add name="Database"
         connectionString="server=localhost;user id=root;pwd=usbw;database=mydb;Persist Security Info=false;" />
  </connectionStrings>
  <appSettings>
    <add key="Test1" value="This is test 1." />
    <add key="Test2" value="42" />
    <add key="Test3" value="-42" />
    <add key="Test4" value="true" />
    <add key="Test5" value="false" />
    <add key="Test6" value="101.101" />
    <add key="Test7" value="-1.2345" />
  </appSettings>
</configuration>